*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.background{
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/2284714-dark-blue-technology-background-hi-tech-digital-and-communication-concept-design-free-space-for-text-in-put-vector-illustration-vetor.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

nav h2{
    color:white;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 2px;
}

span{
    color: rgb(255, 5, 138);
}

nav ul li{
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
}

nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color:salmon;
    transform: scale(1.2);
}

/*fim nav*/

.Main{
    position: absolute;
    top: 45%;
    left: 8%;
    transform: translateY(-50);
    float: left;
}


h4{
    color: salmon;
    letter-spacing: 2px;
    font-size: 20px;    
}

h1{
    color:#fff;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color:#fff;
    font-size: 25px;
    margin-bottom: 50px;
}

/*Fim meu nome*/



/*MINHA FOTO*/

.foto{
    float:right;
    width: 20%;
}

img{
    border-radius: 50%; 
    position:absolute;
	top: 23%; /* posiciona a 20% para baixo */
	right: 8%; /* posiciona a 69% para a direita */ 
        float: right;
        margin: 2px 0 0 4px;
        padding: 4px;
        background-color: rgb(255, 5, 138);
        border: 1px solid rgb(255, 5, 138);
}
/*MINHA FOTO*/



/*REDESSOCIAIS*/

.redes{
    top: 50%;
}

/*REDESSOCIAIS*/





/* INICIO SOBRE MIM*/

.Sobre{
    position: absolute;
    top: 27%;
    left: 8%;
}

.Sobre h2{
    color: salmon;
    font-family: Arial, Helvetica, sans-serif;
    

}

.Sobre h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    margin: 20px 0px 20px;
    
}












 

